@media (orientation: landscape) and (min-width: 768px) {
    .pf-2-title {
        padding: 16px;
    }
    
    .pf-2-sub-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-top: solid #D6DDEB 1px;
        min-height: 200px;
        max-height: 250px;
        width: 100%;
        margin-bottom: 16px;
        padding: 16px;
    }
    
    .pf-2-sub-container-2 {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .pf-2-input-container {
        border: 1px solid #D6DDEB;
        width: 400px;
        height: 125px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        resize: none;
        font-size: 14px;
    }

    .pf-2-input-container:focus {
        outline: none;
    }
    
    .emo-container {
        border-right: 1px solid #D6DDEB;
        border-left: 1px solid #D6DDEB;
        border-bottom: 1px solid #D6DDEB;
        width: 400px;
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        padding: 12px 16px;
    }

    .emo-container button {
        outline: none;
        border: 0;
        background: transparent;
    }

    .emo-container button:active {
        background-color: #AAA;
    }

    .pf-mc-container {
        width: 400px;
        padding: 2px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pf-2-mc-p {
        color: #A8ADB7;
    }

    .pf-2-gen-p {
        color: #7C8493;
        line-height: 1.5;
    }
    
    .pf-2-submit {
        display: flex;
        justify-content: center;
        padding: 16px;
    }

    .pf-nextStepBtn, .pf-backStepBtn {
        margin-top: 4px;
        display: flex;
        padding: 10px 20px;
        background: #0175C4;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
    }
    
    .pf-nextStepBtn:hover {
        background: #0056b3;
    }

    .pf-lastPostArea {
        display: flex;
        justify-content: space-between;
        margin-right: 36px;
        margin-bottom: 24px;
    }
}