@media (orientation: landscape) and (min-width: 768px){
  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f9f9f9;
    overflow-y: scroll; /* Ensure scrolling is still possible */
    height: 100%; /* Ensure the mainContent takes up the full height of the container */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
}