@media (orientation: landscape) and (min-width: 768px) {
    
    .contact {
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

    .titleBar{
      display: flex;
      justify-content: space-between;
      align-items: center; 
    }

    .editBtn {
      background-color: #fff;
      border: solid #D6DDEB 1px;
      padding: 6px;
      margin: 0px 4px;
    }
  
    .contactIcons {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contactIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        border: solid #0175C4 2px;
        text-decoration: none;
        justify-content: center;
      }

      .contactLabelText {
        margin-left: 10px;
        color: #0175C4;
      }
}